@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Edu+TAS+Beginner:wght@600&family=Martel+Sans:wght@600&family=Poppins&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url(bgmain.jpg);
    background-position: center center;
    background-size: auto;
    background-repeat: no repeat;
    ;
    /* background-size: max(1200px, 100vw); */
    height: 100vh;
    position: relative;
}

.main .box {
    height: 100vh;
    width: 100%;
    opacity: 0.65;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80vw;
    margin: auto;
    height: 62px;

}



nav img {
    color: red;
    width: 130px;
    position: relative;
    margin-top: 30px;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;


    margin: 0 20px;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 32px;
}



.hero {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    position: relative;
    font-family: 'Martel Sans', sans-serif;
    gap: 23px;
    padding: 0 30px;
    text-align: center;

}

.hero>:first-child {
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
    font-family: 'Poppins', sans-serif;

}

.hero> :nth-child(2) {
    font-weight: 700;
    font-size: 24px;
    text-align: center;

}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.seperate {
    height: 7px;
    background-color: rgb(46, 46, 46);
    z-index: 20;
}


.btn {
    padding: 3px 8px;
    font-weight: 400;
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    background-color: rgba(248, 243, 243, 0.022);
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;

}

.btn-red {
    background-color: red;
    color: #fff;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
    font-weight: 400;
}

.btn-red-sm {
    background-color: red;
    color: #fff;
}


.hero-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;

}

.main input {
    padding: 7px 101px 8px 14px;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.8);
    border: 1px solid rgba(246, 238, 238, 0.5);
    color: #fff;
    font-weight: 500;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: auto;
    color: #fff;
}

.secimg1 {
    position: relative;
}

.secimg1 img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.secimg1 video {
    position: absolute;
    top: 51px;
    right: 0;
    width: 555px;
}

.first>div :nth-child(1) {
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.first>div :nth-child(2) {
    font-weight: 500;
    font-size: 24px;
}

.second {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    max-width: 70vw;
    margin: auto;
}

.secimg2 img {
    width: 40vw;

}

.first>div :nth-child(1) {
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.second>div :nth-child(2) {
    font-weight: 500;
    font-size: 24px;

}

.second>div :nth-child(1) {
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    font-size: 39px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}


.third {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: auto;
    color: #fff;
    gap: 26px;
}

.secimg3 {
    position: relative;
}

.secimg3 img {
    width: 34vw;
    position: relative;
    z-index: 10;
}

.secimg3 video {
    position: absolute;
    top: 37px;
    right: 101px;
    width: 22vw;
    height: auto;

}

.third>div :nth-child(1) {
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
    font-family: 'Poppins', sans-serif;


}

.third>div :nth-child(2) {
    font-weight: 500;
    font-size: 24px;

}

.fourth {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: auto;
    color: #fff;
    padding: 45px;
    gap: 5px;
}

.secimg4 {
    position: relative;

}

.secimg4 img {
    width: 37vw;
    position: relative;
    z-index: 10;
}


.fourth>div :nth-child(1) {
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    font-size: 43px;
    text-align: center;
    font-family: 'Poppins', sans-serif;

}

.fourth>div :nth-child(2) {
    /* font-weight: bolder; */
    font-size: 24px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.faq {
    background-color: black;
    color: #fff;
    padding: 34px;
}

.faq h2 {
    text-align: center;
    font-size: 48px;
    margin-top: 44px;
}

.faqbox {
    display: flex;
    justify-content: space-between;
    background-color: rgb(37 36 36);
    padding: 24px;
    max-width: 70vw;
    margin: 13px auto;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

.faqbox:hover {
    background-color: #313131;
    transition: all 0.2s;
}

.bottom {
    text-align: center;
    margin-top: 39px;
}

.bottom input {
    padding: 7px 101px 8px 14px;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.8);
    border: 1px solid rgba(246, 238, 238, 0.5);
    color: #fff;
    font-weight: 500;
    margin-top: 20px;
}

.bottom> :nth-child(1) {
    font-weight: 700;
    font-size: 24px;
    text-align: center;

}

footer {
    color: #fff;
    max-width: 60vw;
    margin: auto;
    padding: 14px;

}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: #fff;

}


.footer a {
    font-size: 14px;
    color: #fff;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.footer button {
    width: 100px;
    margin-top: 30px;
    padding: 7px 8px;
    font-weight: 400;
    background-color: transparent;
    color: #fff;
    border-radius: 8px;
    border: 1px solid #fff;

}

.last {
    margin-top: 25px;
}

/*---------------------------------------- MEDIA QUERIES---------------------------------- */
@media screen and (max-width:1300px) {


    nav {
        max-width: 90vw;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 13px;
}

    .secimg1 {
        position: relative;

    }

    .secimg1 img {
        width: 305px;
    }

    .secimg1 video {
        width: 305px;
    }

    .first {
        flex-wrap: wrap;
    }

    .second {
        flex-wrap: wrap;
    }

    .third {
        flex-wrap: wrap;
    }

    .fourth {
        flex-wrap: wrap;
    }

    .secimg1 {
        position: relative;

    }

    .secimg3 img {
        width: 285px;

    }

    .secimg3 video {
        position: absolute;
        width: 138px;
    }
}

@media screen and (max-width:1300px) {
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
        position: relative;
        margin: 0 30px;

    }

    .last{
      position: absolute;
       margin: auto;
      bottom: 0%;
      left: 4%;

    }
}